body {
    background-color: black;
    color: white;
    margin: 0;
}

h2 {
    margin: auto;
    padding: 0%;
}

button {
    /* height: 40px;
    width: 100px;
    margin: 5px;
    /* position: static; */
    border: 3px solid green;
    */
}

div {
    display: grid;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

table {
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.manual {
    color: black;
    background-color: rgb(231, 226, 153);
    font-size: 20px;
}

.lives {
    background-color: rgb(175, 126, 126);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: 5px; */
}

.smily {
    font-size: 40px;
}

.cell {
    color: rgb(182, 47, 47);
    /* border-color: blueviolet; */
    background-color: rgb(255, 136, 57);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: groove;
    text-align: center;
    font-size: 1.5em;
}

.shown {
    background-color: rgb(255, 225, 191);
    /* color: blueviolet; */
    border: solid;
    font-size: 1.5em;
}

.safe-on {
    background-color: rgb(110, 212, 212);
}

.cell2 {
    color: black;
    background-color: red;
    width: 40px;
    height: 40px;
    border: groove;
    text-align: center;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

*/
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */


/* .res-button {
    width: 100px;
    height: 20px;
    color: rgb(204, 33, 33);
}

.done-button {
    width: 100px;
    height: 20px;
    color: rgb(33, 127, 204);
}

.victory {
    width: 200px;
    height: 40px;
    font-size: 30px;
    color: rgb(229, 236, 168);
} */