body {
    background-color: black;
    color: white;
}

button {
    height: 40px;
    width: 100px;
    margin: 5px;
    /* position: static; */
    border: 3px solid green;
}

div {
    display: grid;
    justify-content: center;
}

table {
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    border-radius: 5px;
    color: rgb(245, 13, 13);
    border-color: aqua;
    background-color: rgb(150, 155, 161);
    width: 40px;
    height: 40px;
    border: groove;
    text-align: center;
    font-size: 1.5em;
}

.shown {
    background-color: rgb(188, 220, 251);
    border: 3px dotted;
    font-size: 1.5em;
}

.cell2 {
    color: black;
    background-color: red;
    width: 40px;
    height: 40px;
    border: groove;
    text-align: center;
    font-size: 1.5em;
}

*/
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */


/* .res-button {
    width: 100px;
    height: 20px;
    color: rgb(204, 33, 33);
}

.done-button {
    width: 100px;
    height: 20px;
    color: rgb(33, 127, 204);
}

.victory {
    width: 200px;
    height: 40px;
    font-size: 30px;
    color: rgb(229, 236, 168);
} */

.hidden {
    display: none;
}